<!DOCTYPE html>
<html>
<head>
  <%- include('fragments/htmlhead', {} ); %>
  <title>Mobile Go - About</title>
</head>
<body>
<div data-role="page" id="aboutpage">
  <header data-role="header">
    <a href="#aboutnavpanel" class="ui-btn ui-nodisc-icon ui-icon-bars ui-corner-all ui-btn-icon-notext ui-alt-icon"
       data-theme="b"></a>
    <h2>Mobile Go - About</h2>
  </header>
  <div role="main" class="ui-content">
    <h2>What is Mobile Go?</h2>
    <h2>This project was made with the following resources</h2>
    <ul>
      <li><a href="https://jquery.com/">jQuery</a> - MIT License</li>
      <li><a href="http://jquerymobile.com/">jQuery Mobile</a> - MIT License</li>
      <li><a href="https://nodejs.org/en/">NodeJS & various middleware</a> - MIT License</li>
      <li><a href="https://socket.io/">Special mention for Socket.IO</a> allowing efficient realtime communication - MIT License</li>
      <li><a href="http://wgo.waltheri.net/">WGo.js, Go library for JS</a> - MIT License</li>
      <li><div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
    </ul>
  </div>

  <%- include('fragments/pagefooter', {} ); %>
  <%- include('fragments/navdrawer', { panelid: 'aboutnavpanel', loggedIn: loggedIn, username: username } ); %>
</div>
<%- include('fragments/scripts_common', {} ); %>
</body>
</html>
