<!DOCTYPE html>
<html>
<head>
  <%- include('fragments/htmlhead', {} ); %>
  <title>Mobile Go - Login</title>
</head>
<body>
<div data-role="page" id="loginpage">
  <header data-role="header">
    <a href="#loginnavpanel" class="ui-btn ui-nodisc-icon ui-icon-bars ui-corner-all ui-btn-icon-notext ui-alt-icon"
       data-theme="b"></a>
    <h2>Mobile Go - Login</h2>
  </header>
  <div role="main" class="ui-content">
    <form method="post" action="/login/doLogin">
      <label for="text-basic">Username:</label>
      <input type="text" name="username" id="username" value="">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="" autocomplete="off">
      <input type="submit" value="Login">
    </form>
  </div>

  <%- include('fragments/pagefooter', {} ); %>
  <%- include('fragments/navdrawer', { panelid: 'loginnavpanel', loggedIn: loggedIn, username: username } ); %>
</div>
<%- include('fragments/scripts_common', {} ); %>
</body>
</html>
